@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-secondary antialiased;
}

.section-title {
  @apply text-2xl font-semibold text-secondary;
}

.section-subtitle {
  @apply mt-2 text-muted;
}
